# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs/PozivNaBroj/v16
/PozivNaBroj/bin/Debug/PozivNaBroj.exe.config
/PozivNaBroj/bin/Debug
/PozivNaBroj/obj/Debug
/sepa.hr.pain.001.001.03.NOVA.xsd
/sepa.hr_.pain_.001.001.03.NOVA_.xsd_.zip
/sepa.xml
